### LOAD DATA

In [ ]:
!gdown --id 1gof8UOAmxce-UhB0uzZSZMgIJWN9IlP7
!gdown --id 13G1rUPfogiP1fLGH7XUGRQQWxREhR0um
!gdown --id 1crZOJ4WWYfjgRn_52sPoftYUrUY-wo6_
!gdown --id 1e-2Ajk2mwW03lVmNydls4HcgYskOE8Qi

Downloading...
From: https://drive.google.com/uc?id=1gof8UOAmxce-UhB0uzZSZMgIJWN9IlP7
To: /content/market_condition.csv
100% 75.0k/75.0k [00:00<00:00, 18.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=13G1rUPfogiP1fLGH7XUGRQQWxREhR0um
To: /content/kospi.csv
100% 31.3k/31.3k [00:00<00:00, 11.7MB/s]
Downloading...
From: https://drive.google.com/uc?id=1crZOJ4WWYfjgRn_52sPoftYUrUY-wo6_
To: /content/daily_price.csv
100% 12.3M/12.3M [00:00<00:00, 33.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1e-2Ajk2mwW03lVmNydls4HcgYskOE8Qi
To: /content/company_info_add_sectors.csv
100% 9.62k/9.62k [00:00<00:00, 15.6MB/s]

In [ ]:
import pandas as pd
import numpy as np
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("max_rows", None)
warnings.filterwarnings(action='ignore')

In [ ]:
market = pd.read_csv('market_condition.csv')
kospi = pd.read_csv('kospi.csv')
price = pd.read_csv('daily_price.csv')
info = pd.read_csv('company_info_add_sectors.csv', header = None)

market.head()

         date    wti  wti_rate  ...  cooper_rate  dollar  dollar_rate
0  2016-10-04  48.69     -0.24  ...        -0.34  1110.0         0.54
1  2016-10-05  49.83      2.34  ...        -0.27  1114.0         0.36
2  2016-10-06  50.44      1.22  ...        -0.74  1117.5         0.31
3  2016-10-07  49.81     -1.25  ...         0.00  1115.5        -0.18
4  2016-10-10  51.35      3.09  ...         0.93  1111.5        -0.36

[5 rows x 9 columns]

##### TEST

In [ ]:
gold_data = market[['gold', 'gold_rate']]
gold_data['gold_1'] = round((gold_data['gold'] - gold_data['gold'].rolling(window = 2).mean()) / gold_data['gold'].rolling(window = 2).mean() * 100, 2)
gold_data['gold_20'] = round((gold_data['gold'] - gold_data['gold'].rolling(window = 21).mean()) / gold_data['gold'].rolling(window = 21).mean() * 100, 2)
gold_data['gold_65'] = round((gold_data['gold'] - gold_data['gold'].rolling(window = 66).mean()) / gold_data['gold'].rolling(window = 66).mean() * 100, 2)
gold_data[:10]

     gold  gold_rate  gold_1  gold_20  gold_65
0  1266.3      -3.37     NaN      NaN      NaN
1  1265.2      -0.09   -0.04      NaN      NaN
2  1249.8      -1.22   -0.61      NaN      NaN
3  1248.9      -0.07   -0.04      NaN      NaN
4  1257.5       0.69    0.34      NaN      NaN
5  1253.0      -0.36   -0.18      NaN      NaN
6  1251.1      -0.15   -0.08      NaN      NaN
7  1255.0       0.31    0.16      NaN      NaN
8  1253.1      -0.15   -0.08      NaN      NaN
9  1254.4       0.10    0.05      NaN      NaN

### Check DF

In [ ]:
kospi.head()

         date    kospi  rate
0  2016-10-04  2054.86  0.55
1  2016-10-05  2053.00 -0.09
2  2016-10-06  2065.30  0.60
3  2016-10-07  2053.80 -0.56
4  2016-10-10  2056.82  0.15

In [ ]:
price.head()

   code       date  day_of_week  ...  gold_rate  cooper_rate  dollar_rate
1    60 2016-10-05            2  ...      -0.09        -0.27         0.36
2    60 2016-10-06            3  ...      -1.22        -0.74         0.31
3    60 2016-10-07            4  ...      -0.07         0.00        -0.18
4    60 2016-10-10            0  ...       0.69         0.93        -0.36
5    60 2016-10-11            1  ...      -0.36         0.32         1.12

[5 rows x 10 columns]

In [ ]:
price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229619 entries, 1 to 229781
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   code         229619 non-null  int64
 1   date         229619 non-null  datetime64[ns]
 2   day_of_week  229619 non-null  int64
 3   month        229619 non-null  int64
 4   ascent_1     229619 non-null  float64
 5   volume_1     228278 non-null  float64
 6   wti_rate     229619 non-null  float64
 7   gold_rate    229619 non-null  float64
 8   cooper_rate  229619 non-null  float64
 9   dollar_rate  229619 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3)
memory usage: 19.3 MB

In [ ]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    198 non-null    int64
 1   name    198 non-null    object
 2   sector  198 non-null    object
 3   date    198 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.3+ KB

In [ ]:
info.columns = ['code', 'name', 'sector', 'date']

In [ ]:
info.head()

   code    name     sector        date
0    60   메리츠화재       손해보험  2021-10-26
1   100    유한양행         제약  2021-10-26
2   120  CJ대한통운  항공화물운송과물류  2021-10-26
3   250   삼천당제약         제약  2021-10-26
4   270      기아        자동차  2021-10-26

In [ ]:
sector_unique = info['sector'].unique()
len(sector_unique)

51

In [ ]:
code_unique = price['code'].unique()
len(code_unique)

199

In [ ]:
sector_dic = {}

for sector in sector_unique:
  tmp = info[info['sector'] == sector]['name'].tolist()
  code_tmp = info[info['sector'] == sector]['code'].tolist()

  print(f'업종 이름 : {sector} / 기업 이름 : {tmp}\n')
  sector_dic[sector] = code_tmp 
  # 업종 이름 \n 이면 예외처리 해야함 -> 혜정언니가 없애줌

업종 이름 : 손해보험 / 기업 이름 : ['메리츠화재', '삼성화재', 'DB손해보험', '메리츠금융지주']

업종 이름 : 제약 / 기업 이름 : ['유한양행', '삼천당제약', '한미사이언스', '에이치엘비생명과학', '셀트리온', '셀트리온제약', '동국제약', '셀트리온헬스케어', '한미약품', '콜마비앤에이치', '삼성바이오로직스', '파마리서치', '메드팩토', '에스티팜', '압타바이오', '국전약품', '박셀바이오', 'SK바이오팜']

업종 이름 : 항공화물운송과물류 / 기업 이름 : ['CJ대한통운', '현대글로비스']

업종 이름 : 자동차 / 기업 이름 : ['기아', '현대차', '현대차2우B']

업종 이름 : 반도체와반도체장비 / 기업 이름 : ['SK하이닉스', '동진쎄미켐', '삼성전자', '삼성전자우', '네패스', 'SFA반도체', '솔브레인홀딩스', '이오테크닉스', '리노공업', '티씨케이', '젬백스', '유진테크', '에스앤에스텍', '하나머티리얼즈', '코미코', '원익IPS', '솔브레인']

업종 이름 : 건설 / 기업 이름 : ['현대건설', 'GS건설', '삼성엔지니어링']

업종 이름 : 화장품 / 기업 이름 : ['아모레G', '현대바이오', 'LG생활건강', '아모레퍼시픽']

업종 이름 : 식품 / 기업 이름 : ['하림지주', '롯데지주', '동서', 'CJ제일제당', '메지온', '오리온']

업종 이름 : 건축자재 / 기업 이름 : ['쌍용C&E', '동화기업']

업종 이름 : 항공사 / 기업 이름 : ['대한항공', '한진칼']

업종 이름 : 복합기업 / 기업 이름 : ['LG', '삼성물산', 'SK']

업종 이름 : 화학 / 기업 이름 : ['포스코케미칼', '한화솔루션', 'OCI', '롯데케미칼', '금호석유', 'SKC', '한솔케미칼', 'LG화학', '에코프로', '효성첨단소재']

업종 이름 : 철강 / 기업 이름 : ['현대제철', 'POSCO']

업종 이름 : 증권 / 기업 이름 : ['NH투자증권', '미래에셋증권', '메리츠증권', '삼성증권', '한국금융지주']

업종 이름 : 전기제품 / 기업 이름 : ['삼성SDI', '엘앤에프', '피엔티', '씨아이에스', '에코프로비엠', '두산퓨얼셀']

업종 이름 : 백화점과일반상점 / 기업 이름 : ['GS리테일', '이마트']

업종 이름 : 생물공학 / 기업 이름 : ['네이처셀', '오스코텍', '바이오니아', '헬릭스미스', '차바이오텍', '메디톡스', '제넥신', '휴젤', '알테오젠', '유바이오로직스', '케어젠', '신라젠', '셀리버리', '에이비엘바이오']

업종 이름 : 호텔및레저 / 기업 이름 : ['호텔신라', '아난티', '파라다이스', '강원랜드']

업종 이름 : 전자장비와기기 / 기업 이름 : ['삼성전기', 'LG이노텍', '일진머티리얼즈', '다원시스', '대주전자재료', '아이티엠반도체', '상아프론테크', '고영', '파크시스템스', '심텍', '이녹스첨단소재']

업종 이름 : 조선 / 기업 이름 : ['한국조선해양', '삼성중공업', '현대미포조선', '에이치엘비', '삼강엠앤티']

업종 이름 : 비철금속 / 기업 이름 : ['고려아연']

업종 이름 : 석유와가스 / 기업 이름 : ['S-Oil', 'GS', 'SK이노베이션', '현대중공업지주']

업종 이름 : 해운사 / 기업 이름 : ['HMM', '팬오션']

업종 이름 : 자동차부품 / 기업 이름 : ['현대모비스', '한온시스템', '한국타이어앤테크놀로지']

업종 이름 : 상업서비스와공급품 / 기업 이름 : ['에스원', 'NICE평가정보']

업종 이름 : 전기유틸리티 / 기업 이름 : ['한국전력']

업종 이름 : 무선통신서비스 / 기업 이름 : ['SK텔레콤', 'LG유플러스']

업종 이름 : IT서비스 / 기업 이름 : ['삼성에스디에스', '포스코 ICT', 'NHN한국사이버결제', '현대오토에버']

업종 이름 : 가정용기기와용품 / 기업 이름 : ['코웨이']

업종 이름 : 은행 / 기업 이름 : ['기업은행', '신한지주', '하나금융지주', 'KB금융', '우리금융지주']

업종 이름 : 카드 / 기업 이름 : ['삼성카드']

업종 이름 : 다각화된통신서비스 / 기업 이름 : ['KT']

업종 이름 : 통신장비 / 기업 이름 : ['케이엠더블유', 'RFHIC']

업종 이름 : 생명보험 / 기업 이름 : ['삼성생명']

업종 이름 : 섬유및의류 / 기업 이름 : ['코웰패션']

업종 이름 : 담배 / 기업 이름 : ['KT&G']

업종 이름 : 기계 / 기업 이름 : ['두산중공업', '에스에프에이', '두산밥캣']

업종 이름 : 디스플레이패널 / 기업 이름 : ['LG디스플레이']

업종 이름 : 양방향미디어와서비스 / 기업 이름 : ['NAVER', '카카오', '아프리카TV']

업종 이름 : 방송과엔터테인먼트 / 기업 이름 : ['CJ ENM', 'JYP Ent.', '에스엠', '와이지엔터테인먼트', '스튜디오드래곤', '위지윅스튜디오', '하이브']

업종 이름 : 가스유틸리티 / 기업 이름 : ['한국가스공사']

업종 이름 : 디스플레이장비및부품 / 기업 이름 : ['SK머티리얼즈', '서울반도체', 'LX세미콘', '덕산네오룩스', '천보']

업종 이름 : 게임엔터테인먼트 / 기업 이름 : ['엔씨소프트', '웹젠', '컴투스', '위메이드', '데브시스터즈', '골프존', '넵튠', '넷마블', '펄어비스', '카카오게임즈']

업종 이름 : 창업투자 / 기업 이름 : ['우리기술투자']

업종 이름 : 건강관리장비와용품 / 기업 이름 : ['오스템임플란트', '클래시스', '한국비엔씨', '엘앤씨바이오']

업종 이름 : 소프트웨어 / 기업 이름 : ['안랩']

업종 이름 : 전자제품 / 기업 이름 : ['LG전자']

업종 이름 : 생명과학도구및서비스 / 기업 이름 : ['씨젠', '레고켐바이오', '엔케이맥스']

업종 이름 : 건강관리업체및서비스 / 기업 이름 : ['녹십자랩셀']

업종 이름 : 핸드셋 / 기업 이름 : ['나노스']

업종 이름 : 교육서비스 / 기업 이름 : ['메가스터디교육']

### DATA CLEANING 
: for (market accumulation) <-> (daily price accumulation) correlation

In [ ]:
# making market dictionary by date
market_rate_dict = {}

for key, W, G, C, D in zip(market.loc[:,'date'], market.loc[:,'wti_rate'], market.loc[:,'gold_rate'], market.loc[:,'cooper_rate'], market.loc[:,'dollar_rate']):
  market_rate_dict[key] = [W, G, C, D]

# add market data
price['wti_rate'] = price['date'].apply(lambda x: market_rate_dict[x][0])
price['gold_rate'] = price['date'].apply(lambda x: market_rate_dict[x][1])
price['cooper_rate'] = price['date'].apply(lambda x: market_rate_dict[x][2])
price['dollar_rate'] = price['date'].apply(lambda x: market_rate_dict[x][3])

# add ascent + volume data
price['ascent_1'] = round((price['close'] - price['close'].rolling(window = 2).mean()) / price['close'].rolling(window = 2).mean() * 100, 2)
price['volume_1'] = round((price['volume'] - price['volume'].rolling(window = 2).mean()) / price['volume'].rolling(window = 2).mean()* 100, 2)

# add day of week + month data
price['date'] = pd.to_datetime(price['date'])
price['day_of_week'] = price['date'].dt.dayofweek
price['month'] = price['date'].dt.month

price_tmp = price.copy()

In [ ]:
price = price[['code', 'date', 'day_of_week', 'month', 'ascent_1', 'volume_1', 'wti_rate', 'gold_rate', 'cooper_rate', 'dollar_rate']]
price = price[price['date'] != '2016-10-04']

### CHECK CORRELATION BY ENTERPRISE

In [ ]:
market_info_dic = {0: 'WTI', 1: 'gold', 2: 'cooper', 3: 'dollar', 4: 'None'}

market_info_inverse = dict(zip(market_info_dic.values(), market_info_dic.keys()))

market_acc_by_code_dic = {} # ex {1: [60, 120, 32429], 2: [123, 432423] .,. }

In [ ]:
No_info = [] # info가 없는 기업

for code in code_unique:
  price_code = price[price['code'] == code]
  try:
    info_code = [info[info['code'] == code]['name'].tolist()[0], info[info['code'] == code]['sector'].tolist()[0]]
  except:
    print(f'WARNING NO INFO DATA CODE : {code}')
    No_info.append(code)
    info_code = None

  price_code['ascent_acc'] = price_code['ascent_1'].cumsum()
  price_code['wti_acc'] = price_code['wti_rate'].cumsum()
  price_code['gold_acc'] = price_code['gold_rate'].cumsum()
  price_code['cooper_acc'] = price_code['cooper_rate'].cumsum()
  price_code['dollar_acc'] = price_code['dollar_rate'].cumsum()

  acc = price_code[['ascent_acc', 'wti_acc', 'gold_acc', 'cooper_acc', 'dollar_acc']].corr()

  # print(f' WTI : {round(acc.iloc[0,1], 2)} / gold : {round(acc.iloc[0,2], 2)} / cooper : {round(acc.iloc[0,3], 2)} / dollar : {round(acc.iloc[0,3], 2)}')

  acc_list = [abs(round(acc.iloc[0,1], 2)), abs(round(acc.iloc[0,2], 2)), abs(round(acc.iloc[0,3], 2)), abs(round(acc.iloc[0,4], 2))]
  acc_maxidx = acc_list.index(max(acc_list))

  if acc_list[acc_maxidx] < 0.3: acc_maxidx = 4 # 상관계수가 0.3 미만이면 None으로

  # 마켓별로 해당하는 기업 추가
  if acc_maxidx in market_acc_by_code_dic:
    market_acc_by_code_dic[acc_maxidx].append(code)
  else:
    market_acc_by_code_dic[acc_maxidx] = []
    market_acc_by_code_dic[acc_maxidx].append(code)

  if info_code == None:
    print(market_info_dic[acc_maxidx],'\n')

WARNING NO INFO DATA CODE : 69500
cooper

WARNING NO INFO DATA CODE : 88980
gold

WARNING NO INFO DATA CODE : 259960
None

WARNING NO INFO DATA CODE : 289220
dollar

### MAKE FIANL DF

In [ ]:
market = pd.read_csv('market_condition.csv')
market_dict = {}

for key, W, G, C, D in zip(market.loc[:,'date'], market.loc[:,'wti'], market.loc[:,'gold'], market.loc[:,'cooper'], market.loc[:,'dollar']):
  market_dict[key] = [W, G, C, D, 0]

In [ ]:
final_root = price_tmp[['code', 'date', 'day_of_week', 'month', 'close', 'volume']]

final_root['date'] = pd.to_datetime(final_root['date'])
final_root['date'] = final_root['date'].dt.strftime("%Y-%m-%d")
final_root.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229782 entries, 0 to 229781
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   code         229782 non-null  int64
 1   date         229782 non-null  object
 2   day_of_week  229782 non-null  int64
 3   month        229782 non-null  int64
 4   close        229782 non-null  int64
 5   volume       229782 non-null  int64
dtypes: int64(5), object(1)
memory usage: 10.5+ MB

In [ ]:
kospi_dict = {}

for key, value in zip(kospi.loc[:,'date'], kospi.loc[:,'kospi']):
  kospi_dict[key] = value

# 날짜별 코스피지수 넣기
final_root['kospi'] = final_root['date'].apply(lambda x: kospi_dict[x])

final_root.head()

   code        date  day_of_week  month  close  volume    kospi
0    60  2016-10-04            1     10  15550  198459  2054.86
1    60  2016-10-05            2     10  15500  175702  2053.00
2    60  2016-10-06            3     10  15650  195861  2065.30
3    60  2016-10-07            4     10  15500  122587  2053.80
4    60  2016-10-10            0     10  15450   39849  2056.82

In [ ]:
final_df = pd.DataFrame()

for K, V in sorted(market_acc_by_code_dic.items()):
  codes = sorted(list(set(V)))
  cnt = 0
  for code in codes:

    tmp_df = final_root[final_root['code'] == code]
    tmp_df['market_name'] = np.array([K]*len(tmp_df), dtype='int64')
    tmp_df['market'] = final_root['date'].apply(lambda x: market_dict[x][K])
    
    final_df = pd.concat([final_df, tmp_df])

In [ ]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229782 entries, 1243 to 225442
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   code         229782 non-null  int64
 1   date         229782 non-null  object
 2   day_of_week  229782 non-null  int64
 3   month        229782 non-null  int64
 4   close        229782 non-null  int64
 5   volume       229782 non-null  int64
 6   kospi        229782 non-null  float64
 7   market_name  229782 non-null  int64
 8   market       229782 non-null  float64
dtypes: float64(2), int64(6), object(1)
memory usage: 17.5+ MB

In [ ]:
final_df.reset_index(drop=True, inplace=True)
final_df.tail()

          code        date  day_of_week  ...    kospi  market_name  market
229777  298380  2021-10-18            0  ...  3006.68            4     0.0
229778  298380  2021-10-19            1  ...  3029.04            4     0.0
229779  298380  2021-10-20            2  ...  3013.13            4     0.0
229780  298380  2021-10-21            3  ...  3007.33            4     0.0
229781  298380  2021-10-22            4  ...  3006.16            4     0.0

[5 rows x 9 columns]

In [ ]:
# df_sorted_by_date_as = final_df.set_index(['code', 'date'])
df_sorted_by_date = final_df.sort_values(by=['code', 'date'], ascending = False)

df_sorted_by_date.head()

          code        date  day_of_week  ...    kospi  market_name   market
229781  357780  2021-10-22            4  ...  3006.16            2   9992.0
229780  357780  2021-10-21            3  ...  3007.33            2  10051.0
229779  357780  2021-10-20            2  ...  3013.13            2  10161.0
229778  357780  2021-10-19            1  ...  3029.04            2  10652.0
229777  357780  2021-10-18            0  ...  3006.68            2  10500.0

[5 rows x 9 columns]

In [ ]:
# ASCENDING 구하기

ascend_df = pd.DataFrame()
days = [2, 21, 66]

for code in code_unique:
  tmp_df = df_sorted_by_date[df_sorted_by_date['code'] == code]
  for day in days:
    # add ascent
    tmp_df['ascent_{}'.format(day-1)] = round((tmp_df['close'] - tmp_df['close'].rolling(window = day).mean()) / tmp_df['close'].rolling(window = day).mean() * 100, 2)
  ascend_df = pd.concat([ascend_df, tmp_df[65:]])

In [ ]:
# VOLUME, KOSPI, MARKET

other_df = pd.DataFrame()
days = [2, 21, 66]

for code in code_unique:
  tmp_df = final_df[final_df['code'] == code]
  for day in days:
    # add volume
    tmp_df['volume_{}'.format(day-1)] = round((tmp_df['volume'] - tmp_df['volume'].rolling(window = day).mean()) / tmp_df['volume'].rolling(window = day).mean()* 100, 2)

    # add kospi
    tmp_df['kospi_{}'.format(day-1)] = round((tmp_df['kospi'] - tmp_df['kospi'].rolling(window = day).mean()) / tmp_df['kospi'].rolling(window = day).mean()* 100, 2)

    # add market
    tmp_df['market_{}'.format(day-1)] = round((tmp_df['market'] - tmp_df['market'].rolling(window = day).mean()) / tmp_df['market'].rolling(window = day).mean()* 100, 2)
  
  other_df = pd.concat([other_df, tmp_df[65:]])

          code        date  day_of_week  ...  volume_65  kospi_65  market_65
229777  357780  2021-10-18            0  ...     -35.64     -4.64      11.54
229778  357780  2021-10-19            1  ...     -44.57     -3.85      12.94
229779  357780  2021-10-20            2  ...     -53.55     -4.24       7.59
229780  357780  2021-10-21            3  ...     -36.66     -4.31       6.30
229781  357780  2021-10-22            4  ...     -61.48     -4.22       5.56

[5 rows x 18 columns]

In [ ]:
ascend_df = ascend_df[['code', 'date', 'ascent_1','ascent_20', 'ascent_65']]
other_df.drop(['close', 'kospi','volume', 'market'], axis = 1, inplace = True)

In [ ]:
final_tmp = pd.merge(other_df, ascend_df, on=['code', 'date'])

final_tmp.head()

   code        date  day_of_week  ...  ascent_1  ascent_20  ascent_65
0    60  2017-01-04            2  ...      0.16       1.08      -0.85
1    60  2017-01-05            3  ...     -0.33       0.86      -1.26
2    60  2017-01-06            4  ...      0.65       1.54      -0.70
3    60  2017-01-09            0  ...      0.33       0.24      -2.12
4    60  2017-01-10            1  ...      0.33      -0.46      -2.88

[5 rows x 17 columns]

In [ ]:
final_df = final_tmp[['code', 'date', 'day_of_week', 'month',
       'market_name', 'ascent_1', 'volume_1', 'kospi_1', 'market_1',
       'ascent_20', 'volume_20', 'kospi_20', 'market_20', 'ascent_65',
       'volume_65', 'kospi_65', 'market_65']]

final_df.head()

   code        date  day_of_week  ...  volume_65  kospi_65  market_65
0    60  2017-01-04            2  ...     -15.69      1.60       3.51
1    60  2017-01-05            3  ...     -30.33      1.42       2.28
2    60  2017-01-06            4  ...      -8.79      1.78       2.73
3    60  2017-01-09            0  ...     -33.00      1.78       3.30
4    60  2017-01-10            1  ...      -2.21      1.60       2.84

[5 rows x 17 columns]

In [ ]:
final_df.isna().sum()

code              0
date              0
day_of_week       0
month             0
market_name       0
ascent_1          0
volume_1       1137
kospi_1           0
market_1       1683
ascent_20         0
volume_20       790
kospi_20          0
market_20      1683
ascent_65         0
volume_65       584
kospi_65          0
market_65      1683
dtype: int64

In [ ]:
final_df.to_csv('final.csv', index=None, header=True)